@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;

* {
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu Mono';
}

:root {
  font-family: 'Ubuntu Mono', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Experience
#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  #experience-canvas{
    height: 100%;
    width: 100%;    
  }
}

// Modals
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 700px;
  width: 100%;
  transform: translate(-50%,-50%);
  font-size: 32px;
  z-index: 9999;
  display: none;
  background-color: vars.$base-beige;
}

// Loading screen
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  background: #d9d2c5;
  width: 140vw;
  height: 140vh;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 28px;
  border: 10px solid #4e4738;
  box-sizing: border-box;
  pointer-events: auto;
}

.loading-logo {
  width: 300px;
  height: auto;
}